.button--primary{
    border:2px solid transparent;
}

.button--secondary{
    background: none;
}

.button-tertiary{
    border:2px solid transparent;
    width: 120px;
    padding: 10px 0px !important;
    background: none;
}
.button{
    margin: 1rem;
    font-weight: 900;
}

.button--small{
padding:8px 30px;
font-size: 0.8rem;
}

.button--medium{
padding:10px 60px;
font-size: 1rem;
}

.button--large{
    padding:10px 80px;
    font-size: 1.2rem;
}